<div class="container-lg px-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Condições</h2>
    <a *ngIf="auth.hasPermission('CONDICOES', 'CRIAR')" routerLink="/condicoes/cadastrar" cButton color="primary" size="sm">
      <fa-icon [icon]="faPlus" class="me-2"></fa-icon>
      Nova Condição
    </a>
  </div>

  <c-card>
    <c-card-body>
      <table cTable hover responsive>
        <thead>
          <tr>
            <th>#</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Parcelas</th>
            <th>Qtd Dias</th>
            <th>% Desconto</th>
            <th>Com Entrada</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let condicao of condicoes$ | async">
            <td>{{ condicao.id }}</td>
            <td>{{ condicao.descricao }}</td>
            <td>{{ condicao.tipoCondicao }}</td>
            <td>{{ condicao.parcelas }}</td>
            <td>{{ condicao.qtdDias }}</td>
            <td>{{ condicao.percentualDesconto }}</td>
            <td>{{ condicao.comEntrada === 'S' ? 'Sim' : 'Não' }}</td>
            <td class="text-center">
              <a *ngIf="auth.hasPermission('CONDICOES', 'EDITAR')" [routerLink]="['/condicoes', condicao.id]" cButton color="info" size="sm" variant="ghost">
                <fa-icon [icon]="faPencil"></fa-icon>
              </a>
              <button *ngIf="auth.hasPermission('CONDICOES', 'DELETAR')" cButton color="danger" size="sm" variant="ghost" (click)="deletar(condicao.id!)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </c-card-body>
  </c-card>
</div>
